.achievements {
  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    margin-bottom: 63px;

    &:last-child {
      margin-bottom: 50px;
    }
  }

  &__label {
    font-size: 18px;
    line-height: 30px;
    padding-left: 33px;
  }
}

@media (min-width: 960px) {
  .achievements {
    display: flex;
    flex-wrap: wrap;

    &__item {
      margin-right: 60px;

      &:nth-child(1) {
        order: 1;
      }

      &:nth-child(2) {
        order: 4;
      }

      &:nth-child(3) {
        order: 2;
      }

      &:nth-child(4) {
        order: 5;
      }

      &:nth-child(5) {
        order: 3;
        margin-right: 0;
      }

      &:nth-child(6) {
        order: 6;
        margin-right: 0;
      }
    }
  }
}
