.advantages {
  position: relative;
  background-color: rgb(242, 242, 242);
  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center 500px;
  padding-top: 57px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 320px;
  margin-bottom: 50px;
  text-align: center;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/iphone-screen-mobile@2x.png");
    background-size: 157px auto;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    margin-bottom: 27px;
  }
}

@media (min-width: 660px) {
  .advantages {
    text-align: left;
    padding-bottom: 0;
    background-image: none;

    &::before {
      content: "";
      position: absolute;
      background-image: url("../img/iphone-screen-3-tablet@1x.png");
      background-position: left top;
      background-repeat: no-repeat;
      z-index: 3;
      top: 10px;
      width: 268px;
      height: 481px;

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url("../img/iphone-screen-3-tablet@2x.png");
        background-size: 268px auto;
      }
    }

    &::after {
      content: "24";
      position: absolute;
      width: 202px;
      height: 202px;
      box-sizing: border-box;
      border-radius: 50%;
      text-align: center;
      font-size: 96px;
      font-weight: bold;
      line-height: 149.5px;
      color: rgb(210, 40, 86);
      border: 12px solid rgb(210, 40, 86);
      background-color: rgb(222, 222, 222);
      top: 600px;
      left: 20px;
      z-index: 3;
    }

    &__list {
      display: flex;
      flex-direction: column;
      padding-left: 300px;
    }

    &__item {
      margin-bottom: 0;
    }
  }
}

@media (min-width: 960px) {
  .advantages {
    padding-top: 360px;
    background-image: none;

    &::before {
      background-image: url("../img/iphone-screen-1-desktop@1x.png"), url("../img/iphone-screen-2-desktop@1x.png"), url("../img/iphone-screen-3-desktop@1x.png");
      background-repeat: no-repeat;
      background-position: left top, center top, right top;
      width: 940px;
      height: 302px;
      left: 0;

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url("../img/iphone-screen-1-desktop@2x.png"), url("../img/iphone-screen-2-desktop@2x.png"), url("../img/iphone-screen-3-desktop@2x.png");
        background-size: 292px auto;
      }
    }

    &__list {
      flex-direction: row;
      padding-left: 0;
    }

    &__item {
      margin-right: 92px;
      text-align: center;
      width: 230px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
