.base-container {
  width: 320px;
  margin: 0 auto;
}

@media (min-width: 660px) {
  .base-container {
    width: 660px;
    margin: 0 auto;
  }
}

@media (min-width: 960px) {
  .base-container {
    width: 960px;
    margin: 0 auto;
  }
}
