.base-container {
  width: 305px;
  margin: 0 auto;
  overflow: hidden;
}

@media (min-width: 660px) {
  .base-container {
    width: 645px;
    margin: 0 auto;
  }
}

@media (min-width: 960px) {
  .base-container {
    width: 945px;
    margin: 0 auto;
  }
}
