.buttons-actions {
  padding-top: 38px;
  padding-bottom: 41px;
  display: flex;
  flex-direction: column;
}

@media (min-width: 660px) {
  padding-top: 10px;
  padding-right: 0;
}

@media (min-width: 960px) {
  .buttons-actions {
    flex-direction: row;
    padding-bottom: 55px;
    padding-top: 23px;
    padding-left: 55px;
  }
}
