.carousel {
  display: flex;
  position: relative;
  padding: 0;
  margin: 0;
  padding-top: 20px;

  &__toggles {
    position: relative;
  }

  &__item--base {
    display: none;
  }

  &__item--standard {
    min-width: 280px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 74px;
      height: 73px;
      background-image: url("../img/bg-hit.svg");
      background-size: 74px 73px;
      background-repeat: no-repeat;
      top: 0;
      left: 0;
      z-index: 1;
    }
  }

  &__item--no-limit {
    display: none;
  }
}

@media (min-width: 660px) {
  .carousel {
    padding-top: 0;
    margin-top: -30px;

    &__item--base {
      display: block;
    }

    &__item {
      width: 156px;
      margin-right: 2px;
    }

    &__item--standard {
      min-width: 152px;
      width: 152px;

      &::after {
        background-image: url("../img/bg-hit-tablet.svg");
        background-size: 61px 61px;
      }
    }
  }
}

@media (min-width: 960px) {
  .carousel {
    &__item {
      width: 220px;

      &--standard {
        &::after {
          background-image: url("../img/bg-hit-desktop.svg");
          background-size: 74px 73px;
        }
      }
    }
  }
}
