.characteristics {
  display: flex;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(229, 229, 229);
  box-sizing: border-box;
  padding-left: 22px;
  padding-top: 16px;
  padding-bottom: 17px;
  height: 59px;
  border-top: none;

  &__index {
    line-height: 30px;
    text-transform: uppercase;
  }

  &__check {
    background-image: url("../img/icon-yes.svg");
    background-repeat: no-repeat;
    width: 32px;
    height: 23px;
    margin-right: 13px;
  }

  &__check--no {
    background-image: url("../img/icon-no.svg");
    background-repeat: no-repeat;
    width: 27px;
    height: 26px;
    margin-right: 24px;
  }
}

@media (min-width: 660px) {
  .characteristics {
    height: 45px;
    border-right: none;

    &__index {
      display: none;
    }

    &__check {
      margin-right: 0;
      margin-left: 40px;
      margin-bottom: 0;
      margin-top: -5px;
    }
  }
}

@media (min-width: 960px) {
  .characteristics {
    height: 59px;

    &__check {
      margin-left: 80px;
      margin-top: 0;
    }
  }
}
