.close-container {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;

  &__logo {
    margin-right: 180px;

    &:nth-child(2) {
      display: none;
    }

    &:nth-child(3) {
      display: none;
    }

    &:hover path {
      fill: rgb(210, 40, 86);
    }

    &:active path {
      fill: rgb(255, 255, 255);
      opacity: 0.3;
    }
  }

  &__close {
    width: 24px;
    font-size: 0;
    border: 0;
    background-color: transparent;
    background-image: url("../img/icon-menu-cross.svg");
    background-repeat: no-repeat;
  }
}

@media (min-width: 660px) {
  .close-container {
    justify-content: space-between;
    min-height: 70px;

    &__logo {
      &:nth-child(1) {
        display: none;
      }

      &:nth-child(2) {
        display: block;
      }

      &:nth-child(3) {
        display: none;
      }
    }

    &__close {
      margin-top: 20px;
    }
  }
}

@media (min-width: 960px) {
  .close-container {
    &__logo {
      margin-right: 170px;

      &:nth-child(2) {
        display: none;
      }

      &:nth-child(3) {
        display: block;
      }
    }

    &__close {
      display: none;
    }
  }
}
