.close-container {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;

  &__logo {
    margin-right: 180px;
  }

  &__close {
    width: 24px;
    font-size: 0;
    border: 0;
    background-color: transparent;
    background-image: url("../img/icon-menu-cross.svg");
    background-repeat: no-repeat;
  }
}
