.contacts {
  &__text {
    margin-bottom: 40px;
    font-size: 24px;
    font-weight: lighter;
    text-align: center;
  }

  &__phone,
  &__mail,
  &__address {
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
  }

  &__phone-mobile,
  &__email,
  &__address-sp {
    margin-top: 7px;
    font-weight: lighter;
    font-size: 24px;
    color: rgb(210, 40, 86);
  }
}
