.contacts-participant {
  margin: 0;
  padding: 0;
  padding-top: 18px;
  padding-bottom: 20px;

  &__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 28px;

    &:last-child {
      margin-bottom: 20px;
    }
  }

  &__legend {
    display: none;
  }

  &__label {
    font-size: 14px;
    line-height: 30px;
    color: rgb(210, 40, 86);
    text-transform: uppercase;
    padding-left: 23px;
  }
}

@media (min-width: 660px) {
  .contacts-participant {
    order: 2;
    margin-bottom: 60px;
    padding-left: 40px;

    &__legend {
      display: block;
      text-align: center;
      line-height: 30px;
      color: rgb(210, 40, 86);
      text-transform: uppercase;
    }

    &__item {
      flex-direction: column-reverse;
    }
  }
}

@media (min-width: 960px) {
  .contacts-participant {
    flex-grow: 1;

    &__wrapper {
      display: flex;
    }

    &__item {
      width: 370px;

      &:first-child {
        margin-right: 74px;
      }
    }
  }
}
