.contacts {
  background-color: rgb(255, 255, 255);
  position: relative;

  &::after {
    content: "";
    position: absolute;
    z-index: 2;
    width: 320px;
    height: 258px;
    left: -20px;
    background-image: url("../img/bg-triangle-white-footer.svg");
    background-repeat: no-repeat;
    background-size: 320px auto;
  }

  &__text {
    margin-bottom: 40px;
    font-size: 24px;
    font-weight: lighter;
    text-align: center;
  }

  &__phone,
  &__mail,
  &__address {
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
  }

  &__phone-mobile,
  &__email,
  &__address-sp {
    margin-top: 7px;
    font-weight: lighter;
    font-size: 24px;
    color: rgb(210, 40, 86);
  }
}

@media (min-width: 660px) {
  .contacts {
    &::after {
      width: 660px;
      left: -50px;
      top: 310px;

      background-size: 660px auto;
    }

    &__text {
      font-size: 40px;
      line-height: 40px;
      text-align: center;
    }

    &__wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &__address {
      flex-grow: 1;
    }
  }
}

@media (min-width: 960px) {
  .contacts {
    padding: 0;

    &::after {
      left: -120px;
      top: 275px;
      width: 1200px;
      background-size: 1200px auto;
    }

    &__wrapper {
      justify-content: flex-start;
      padding-left: 40px;
      padding-right: 15px;
    }

    &__text {
      font-size: 50px;
      line-height: 50px;
      padding-left: 200px;
      padding-right: 200px;
      margin-bottom: 70px;
    }

    &__phone {
      margin-right: 135px;
    }

    &__address {
      order: 2;
      margin-right: 65px;
    }

    &__mail {
      order: 3;
    }
  }
}
