.contacts-participant {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.contacts-participant__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;

  &:last-child {
    margin-bottom: 20px;
  }
}

.contacts-participant__legend {
  display: none;
}

.contacts-participant__label {
  font-size: 14px;
  line-height: 30px;
  color: rgb(210, 40, 86);
  text-transform: uppercase;
  padding-left: 21px;
  margin-bottom: 5px;
}

.contacts-participant__input {
  width: 280px;
  padding-bottom: 20px;
}

@media (min-width: 660px) {
  .contacts-participant {
    order: 2;
    padding-top: 17px;
    margin-bottom: 55px;
    padding-left: 59px;
    padding-bottom: 5px;
  }

  .contacts-participant__label {
    padding-left: 18px;
    padding-top: 10px;
  }

  .contacts-participant__legend {
    display: block;
    text-align: center;
    line-height: 30px;
    color: rgb(210, 40, 86);
    text-transform: uppercase;
    padding-left: 30px;
    padding-right: 30px;
  }

  .contacts-participant__item {
    flex-direction: column-reverse;
    position: relative;
    margin-bottom: 23px;

    &::before {
      content: "";
      position: absolute;
      width: 60px;
      height: 58px;
      background-color: rgb(229, 229, 229);
      left: 435px;
      top: 0;
    }

    &:nth-child(1) {
      &::before {
        background-image: url("../img/icon-phone.svg");
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    &:last-child {
      &::before {
        background-image: url("../img/icon-mail.svg");
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
}

@media (min-width: 960px) {
  .contacts-participant {
    flex-grow: 1;
    padding-top: 15px;
    padding-left: 58px;
    height: 175px;
  }

  .contacts-participant__wrapper {
    display: flex;
    align-items: baseline;
  }

  .contacts-participant__legend {
    padding-left: 32px;
    padding-right: 32px;
  }

  .contacts-participant__item {
    &::before {
      top: 0;
      left: 315px;
    }

    &:first-child {
      margin-right: 70px;
    }

    &:last-child {
      margin-top: 0;
      padding-top: 0;
      padding-bottom: 0;

      &::before {
        top: 0;
      }
    }
  }
}
