.contest {
    &__description {
        line-height: 30px;
        text-align: center;
        padding-top: 50px;
        padding-bottom: 47px;
        margin-top: -270px;
        background-color: rgb(255, 255, 255);
    }
}