.copyright {
  padding-bottom: 40px;
  display: flex;
  align-items: center;
  
  &__text {
    line-height: 18px;
    margin-right: 15px;
  }

  &__link {
    & path {
      fill: rgb(210, 40, 86);
    }

    &:hover path {
      fill: rgb(40, 54, 69);
    }

    &:active {
      opacity: 0.3;
    }
  }
}

@media (min-width: 960px) {
  .copyright {
    &__text {
      font-size: 18px;
    }
  }
}
