.form {
  margin-bottom: 46px;

  &__item {
    border: none;
  }
}

@media (min-width: 660px) {
  .form {
    display: flex;
    flex-direction: column;

    &__item {
      margin-bottom: 60px;
      border: 2px solid rgb(229, 229, 229);
    }
  }
}
