.hit {
  font-size: 10px;
  font-weight: 600;
  line-height: 21px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  background-image: url("../img/bg-hit.svg");
  background-repeat: no-repeat;
}
