.hit {
  position: absolute;
  font-size: 14px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  transform: rotate(-45deg);
  top: 20px;
  left: 10px;
  z-index: 3;
}

@media (min-width: 660px) {
  .hit {
    left: 315px;
    top: -10px;
    z-index: 3;
  }
}

@media (min-width: 960px) {
  .hit {
    left: 480px;
    top: 0;
  }
}
