.input {
    box-sizing: border-box;
    border: 2px solid rgb(229, 229, 229);
    width: 276px;
    min-height: 59px;
    padding-left: 22px;
    padding-top: 22px;
    padding-bottom: 18px;
    &::placeholder {
        font-size: 18px;
        line-height: 30px;
    }
}