.input {
  box-sizing: border-box;
  border: 2px solid rgb(229, 229, 229);
  width: 276px;
  min-height: 59px;
  padding-left: 22px;
  padding-top: 22px;
  padding-bottom: 18px;

  &::placeholder {
    font-size: 18px;
    line-height: 30px;
  }

  &:hover {
    border: 2px solid rgb(40, 54, 69);
  }

  &:focus {
    border: 2px solid rgb(210, 40, 86);
  }
}

@media (min-width: 660px) {
  .input {
    flex-grow: 1;

    &[type="tel"] {
      width: 496px;
    }

    &[type="email"] {
      width: 496px;
    }
  }
}
