.lead-list {
  color: rgb(40, 54, 69);
  font-size: 24px;
  font-weight: lighter;
  margin-top: -10px;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 5px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    max-width: 320px;
    height: 392px;
    z-index: 2;
    left: 0;
    background-image: url("../img/bg-triangle-white.svg");
    background-repeat: no-repeat;
    background-size: 320px auto;
  }

  &__item {
    margin-bottom: 42px;
    text-align: center;
  }
}

@media (min-width: 660px) {
  .lead-list {
    margin-top: -40px;
    padding-left: 27px;
    padding-right: 18px;
    padding-top: 50px;
    padding-bottom: 10px;
    font-size: 40px;
    font-weight: lighter;
    line-height: 40px;
    background-color: rgb(255, 255, 255);

    &::after {
      max-width: 660px;
      top: 245px;
      background-size: 660px auto;
    }

    &__item {
      margin-bottom: 15px;
      text-align: auto;

      &:nth-child(2) {
        text-align: center;
        padding-left: 125px;
        padding-right: 125px;
        margin-bottom: 50px;
      }
    }
  }
}

@media (min-width: 960px) {
  .lead-list {
    font-size: 50px;
    line-height: 50px;
    margin-top: 20px;
    margin-bottom: 100px;

    &::after {
      max-width: 960px;
      left: 0;
      top: 375px;
      background-size: 960px auto;
    }
  }
}
