.lead-list {
  color: rgb(40, 54, 69);
  font-size: 24px;
  font-weight: lighter;
  margin-top: -10px;
  padding-left: 35px;
  padding-right: 35px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 320px;
    height: 392px;
    z-index: 2;
    left: -2px;
    background-image: url("../img/bg-triangle-white.svg");
    background-repeat: no-repeat;
    background-size: 320px auto;
  }

  &__item {
    margin-bottom: 42px;
    text-align: center;
  }
}

@media (min-width: 660px) {
  .lead-list {
    margin-top: 0;
    padding-left: 14px;
    padding-right: 14px;
    font-size: 40px;
    font-weight: lighter;
    line-height: 40px;

    &::after {
      width: 620px;
      background-size: 620px auto;
    }

    &__item {
      margin-bottom: 15px;
      text-align: auto;

      &:nth-child(2) {
        text-align: center;
        padding-left: 125px;
        padding-right: 125px;
        margin-bottom: 50px;
      }
    }
  }
}

@media (min-width: 960px) {
  .lead-list {
    font-size: 50px;
    line-height: 50px;

    &::after {
      width: 940px;
      left: 0;
      background-size: 940px auto;
    }
  }
}
