.page-title {
  font-size: 24px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  text-align: center;
  padding-top: 45px;

  &--photo {
    margin-top: -10px;
  }

  &--form {
    padding-top: 40px;
    line-height: 30px;
  }
}

@media (min-width: 660px) {
  .page-title {
    font-size: 50px;
    line-height: 50px;
    padding-top: 65px;

    &--photo {
      padding-top: 125px;
      line-height: 55px;
    }

    &--form {
      padding-top: 90px;
      line-height: 55px;
    }
  }
}

@media (min-width: 960px) {
  .page-title {
    &--form {
      padding-top: 80px;
      width: 820px;
      padding-left: 60px;
      line-height: 60px;
    }

    &--photo {
      margin-left: 270px;
      margin-top: -60px;
      min-width: 400px;
    }
  }
}
