.page-footer {
  padding-top: 40px;

  &--form {
    padding-top: 30px;
    padding-left: 30px;
  }

  &--photo {
    padding-left: 30px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__bottom {
    display: none;
    padding-left: 20px;
    padding-right: 20px;
  }

  &__logo {
    margin-bottom: 35px;
    padding-right: 10px;

    &:nth-child(2) {
      display: none;
    }

    &:hover path {
      fill: rgb(210, 40, 86);
    }

    &:active {
      opacity: 0.3;

      & g path {
        fill: rgb(40, 54, 69);
      }
    }
  }
}

@media (min-width: 660px) {
  .page-footer {
    padding-top: 53px;

    &--photo {
      padding-top: 15px;
      padding-left: 20px;
    }

    &__wrapper {
      padding-left: 47px;
      padding-right: 31px;

      &--photo {
        padding-left: 0;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 0;
      }

      &--form {
        padding: 0;
        margin-top: -5px;
        flex-direction: row;
        justify-content: space-between;
      }
    }

    &__bottom {
      display: flex;
      padding-left: 20px;
      padding-top: 0;
      justify-content: space-between;
    }
  }
}

@media (min-width: 960px) {
  .page-footer {
    padding-top: 64px;

    &--photo {
      padding-top: 67px;
    }

    &--form {
      padding-top: 30px;
    }

    &__wrapper {
      padding-left: 0;
      padding-right: 0;
    }

    &__logo {
      &:nth-child(1) {
        display: none;
      }

      &:nth-child(2) {
        display: block;
        margin-right: 20px;
      }
    }
  }
}
