.page-title {
  font-size: 24px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  text-align: center;
  padding-top: 45px;

  &--photo {
    margin-top: -15px;
    padding-left: 12px;
    line-height: 30px;
  }

  &--form {
    padding-top: 44px;
    padding-left: 12px;
    line-height: 30px;
  }
}

@media (min-width: 660px) {
  .page-title {
    font-size: 50px;
    line-height: 50px;
    padding-top: 65px;

    &--photo {
      padding-top: 85px;
      line-height: 58px;
      padding-left: 0;
      margin-left: -100px;
      width: 500px;
    }

    &--form {
      padding-top: 71px;
      line-height: 60px;
      padding-left: 0;
      margin-left: -102px;
      width: 500px;
    }
  }
}

@media (min-width: 960px) {
  .page-title {
    &--form {
      padding-top: 67px;
      width: 820px;
      margin-left: -260px;
      line-height: 60px;
    }

    &--photo {
      margin-left: -102px;
      margin-right: 0;
      margin-top: -20px;
      min-width: 400px;
    }
  }
}
