.photo-description {
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgb(242, 242, 242);
  margin: 0 20px;

  &__author {
    font-weight: bold;
  }

  &__time {
    font-weight: lighter;
    font-size: 12px;
    text-transform: uppercase;
  }

  &__text {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: -45px;
    padding-top: 15px;
    margin-bottom: 10px;

    &--second,
    &--third,
    &--fourth,
    &--fifth,
    &--sixth,
    &--seventh {
      padding-top: 25px;
      margin-top: -10px;
    }
  }
}

@media (min-width: 660px) {
  .photo-description {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 6px;

    &--main-photo {
      display: flex;
      flex-direction: space-between;
      padding-top: 27px;
      padding-left: 11px;
      padding-right: 20px;
      padding-bottom: 15px;
      margin: 0;
      margin-left: 20px;

      &--main-photo {
        position: relative;
      }
    }

    &__text {
      padding-top: 65px;

      &--third {
        margin-bottom: 33px;
      }

      &--fifth {
        margin-bottom: 33px;
      }

      &--sixth {
        margin-bottom: 33px;
      }

      &--seventh {
        margin-bottom: 33px;
      }
    }
  }
}

@media (min-width: 960px) {
  .photo-description {
    &--main-photo {
      margin: 0;
      padding: 0;
      padding-left: 27px;
      padding-top: 10px;
    }
  }
}
