.photo-description {
  padding-top: 0;
  padding-left: 17px;
  padding-right: 31px;
  padding-bottom: 18px;

  &__author {
    font-weight: bold;
  }

  &__time {
    font-weight: lighter;
    font-size: 12px;
    text-transform: uppercase;
  }

  &__text {
    margin-bottom: 10px;
  }
}

@media (min-width: 660px) {
  .photo-description {
    padding-left: 28px;
    padding-top: 6px;

    &--main-photo {
      display: flex;
      flex-direction: space-between;
      padding-top: 12px;
      padding-left: 30px;

      &--main-photo {
        position: relative;
      }
    }

    &__text {
      &--third {
        margin-bottom: 33px;
      }

      &--fifth {
        margin-bottom: 33px;
      }

      &--sixth {
        margin-bottom: 33px;
      }

      &--seventh {
        margin-bottom: 33px;
      }
    }
  }
}

@media (min-width: 960px) {
  .photo-description {
    &--main-photo {
      margin: 0;
      padding: 0;
      padding-left: 27px;
      padding-top: 10px;
    }
  }
}
