.pluses {
  &__title {
    font-weight: bold;
    font-size: 18px;
    color: rgb(0, 0, 0);
    margin-bottom: 0;
  }
}

@media (min-width: 660px) {
  .pluses {
    &:last-child {
      margin-bottom: 30px;
    }
  }
}

@media (min-width: 960px) {
  .pluses {
    &__title {
      font-size: 30px;
      line-height: 30px;
      text-align: center;
      margin-bottom: 25px;
    }

    &__text {
      font-size: 18px;
      line-height: 30px;
      text-align: center;
    }
  }
}
