.pluses {
  padding-left: 8px;
  padding-right: 8px;

  &__title {
    font-weight: bold;
    font-size: 18px;
    color: rgb(0, 0, 0);
    margin-bottom: -3px;
    padding-left: 5px;
  }

  &__text {
    font-weight: normal;

    &--2 br {
      display: none;
    }
  }
}

@media (min-width: 660px) {
  .pluses {
    &:last-child {
      margin-bottom: 30px;
    }

    &__text {
      &--2 br {
        display: inline;
      }
    }
  }
}

@media (min-width: 960px) {
  .pluses {
    &__title {
      font-size: 30px;
      line-height: 30px;
      text-align: center;
      margin-bottom: 25px;
    }

    &__text {
      font-size: 18px;
      line-height: 30px;
      text-align: center;

      &--2 br {
        display: none;
      }
    }
  }
}
