.research {
  display: none;
}

@media (min-width: 660px) {
  .research {
    display: block;
    padding-left: 305px;
    padding-top: 16px;
    min-height: 356px;
    background-image: url("../img/icon-timer.svg");
    background-repeat: no-repeat;
    text-align: left;

    &__conclusion {
      font-size: 30px;
      line-height: 36px;
      color: rgb(0, 0, 0);
      padding-right: 0;
      margin-bottom: -8px;
    }
  }
}

@media (min-width: 960px) {
  .research {
    background-color: rgb(242, 242, 242);
    padding-left: 368px;
    padding-right: 50px;
    padding-top: 78px;
    background-position: left 15%;
    background-size: 298px 345px;
    padding-bottom: 50px;

    &__conclusion {
      margin-bottom: 2px;

      & br {
        display: none;
      }
    }
  }
}
