.reviews {
    &__item {
    margin: 0px;
    padding: 0px;
    }   
    &__author {
        margin-bottom: 25px;
        text-align: center;
    }
    &__author-name {
        font-weight: bold;
        font-size: 18px;
        font-style: normal;
        line-height: 30px;
        color: rgb(0, 0, 0);
    
    }
    &__text {
        margin-bottom: 40px;
        line-height: 30px;
        text-align: center;
        padding-left: 5px;
        padding-right: 5px;
    }
    &__toggles {
        margin-bottom: 40px;
    }
}