.scientific-information__text {
  padding-right: 23px;
}

.scientific-information__link {
  color: rgb(210, 40, 86);
  text-decoration: underline;
}

@media (min-width: 960px) {
  .scientific-information {
    font-size: 18px;
    line-height: 30px;
  }

  .scientific-information__text {
    margin-bottom: 34px;

    & br {
      display: none;
    }

    & span {
      margin-right: -50px;
    }
  }
}
