.sending-photo {
  background-color: rgb(242, 242, 242);

  &__slogan {
    line-height: 30px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding-bottom: 45px;
  }

  &__sample-image {
    margin-bottom: 20px;
  }
}

@media (min-width: 660px) {
  .sending-photo {
    &__slogan {
      font-size: 18px;
      padding-bottom: 72px;
      margin-top: -25px;
    }

    &__wrapper {
      display: flex;
      padding-top: 35px;
      padding-bottom: 0;
    }

    &__tools-container {
      display: flex;
      flex-direction: column;
    }

    &__sample-image {
      margin-right: 47px;
    }
  }
}

@media (min-width: 960px) {
  .sending-photo {
    padding-bottom: 0;

    &__slogan {
      margin-top: -50px;
      padding-bottom: 65px;
      padding-left: 0;
    }

    &__sample-image {
      padding-left: 74px;
      margin-right: 90px;
      margin-bottom: 0;
    }
  }
}
