.slider {
  &__item {
    display: none;

    &:first-child {
      display: block;
      margin: 0;
      padding: 0;
    }
  }

  &__toggles {
    position: relative;

    input {
      display: none;
    }
  }
}
