.tariffs {
  background-color: rgb(242, 242, 242);

  &__name {
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    background-color: rgb(40, 54, 69);
    text-align: center;
  }

  &__price {
    font-weight: lighter;
    font-size: 24px;
    line-height: 30px;
    color: rgb(255, 255, 255);
  }
}
