.textarea {
  width: 276px;
  min-height: 197px;
  padding-top: 23px;
  padding-left: 19px;
  resize: none;
  box-sizing: border-box;
  border: 2px solid rgb(229, 229, 229);

  &::placeholder {
    font-size: 18px;
    font-weight: normal;
    line-height: 30px;
  }
}

@media (min-width: 660px) {
  .textarea {
    width: 496px;
    height: 189px;
  }
}

@media (min-width: 960px) {
  .textarea {
    width: 816px;
    height: 124px;
  }
}
