.tools-processing {
  border-bottom: rgb(221, 223, 224);
  padding-bottom: 24px;
  margin-bottom: 55px;

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-left: 30px;
  }

  &__item {
    position: relative;
    margin-right: 35px;

    &:nth-child(2) {
      margin-right: 40px;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

@media (min-width: 660px) {
  .tools-processing {
    margin-bottom: 0;

    &__list {
      flex-direction: column;
      margin-left: 0;
    }

    &__item {
      margin-bottom: 30px;
    }
  }
}

@media (min-width: 960px) {
  .tools-processing {
    margin-bottom: 146px;
  }
}
