.tools-processing {
  border-bottom: rgb(221, 223, 224);
  padding-bottom: 34px;

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
  }
}

@media (min-width: 660px) {
  .tools-processing {
    &__list {
      flex-direction: column;
    }
  }
}

@media (min-width: 960px) {
  .tools-processing {
    margin-bottom: 146px;
  }
}
