.warning {
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 24px;

  &__sign {
    color: rgb(210, 40, 86);
  }
}

@media (min-width: 660px) {
  .warning {
    position: absolute;
    bottom: 5px;
    right: 5px;
  }
}
