.warning {
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 24px;
  padding-left: 5px;

  &__sign {
    color: rgb(210, 40, 86);
  }

  &__full {
    display: none;
  }
}

@media (min-width: 660px) {
  .warning {
    position: absolute;
    bottom: 10px;
    right: 25px;
    padding-top: 11px;
    padding-bottom: 15px;
  }
}

@media (min-width: 960px) {
  .warning {
    right: 12px;

    &__full {
      display: inline;
    }
  }
}
